<ion-view view-title="Chat Rooms">



<ion-nav-buttons side="secondary">
    <button 
      class="button button-icon ion-gear-a"
      ui-sref="tab.settings">
    </button>
</ion-nav-buttons>


  <ion-content>
  
    <div class="list">
      <button class="item button-full chatbuttons beachbuttonone" 
           ng-click="setChatRoomName('Before you Start')"
           ui-sref="tab.chatroom">Before you Start
      </button>

      <button class="item button-full chatbuttons beachbuttontwo" 
           ng-click="setChatRoomName('State your Hypothesis')"
           ui-sref="tab.chatroom">State your Hypothesis
      </button>

      <button class="item button-full chatbuttons beachbuttonthree" 
           ng-click="setChatRoomName('Validate the Problem')"
           ui-sref="tab.chatroom">Validate the Problem
      </button>

      <button class="item button-full chatbuttons beachbuttonfour" 
           ng-click="setChatRoomName('Validate the Solution')"
           ui-sref="tab.chatroom">Validate the Solution
      </button>

      <button class="item button-full chatbuttons waterbuttonone" 
           ng-click="setChatRoomName('Create Prototypes')"
           ui-sref="tab.chatroom">Create Prototypes
      </button>

      <button class="item button-full chatbuttons waterbuttontwo" 
           ng-click="setChatRoomName('Build a MVP')"
           ui-sref="tab.chatroom">Build a MVP
      </button>

      <button class="item button-full chatbuttons waterbuttonthree" 
           ng-click="setChatRoomName('Find Early Adopters')"
           ui-sref="tab.chatroom">Find Early Adopters
      </button>

      <button class="item button-full chatbuttons waterbuttonfour" 
           ng-click="setChatRoomName('Go to Market')"
           ui-sref="tab.chatroom">Go to Market
      </button>

      <button class="item button-full chatbuttons wavebuttonone" 
           ng-click="setChatRoomName('Hack your Growth')"
           ui-sref="tab.chatroom">Hack your Growth
      </button>

      <button class="item button-full chatbuttons wavebuttontwo" 
           ng-click="setChatRoomName('Think outside the Box')"
           ui-sref="tab.chatroom">Think outside the Box
      </button>

      <button class="item button-full chatbuttons wavebuttonthree" 
           ng-click="setChatRoomName('Love your Customer')"
           ui-sref="tab.chatroom">Love your Customer
      </button>

      <button class="item button-full chatbuttons wavebuttonfour" 
           ng-click="setChatRoomName('Automate your Processes')"
           ui-sref="tab.chatroom">Automate your Processes
      </button>
    </div >
      
     

  </ion-content>
</ion-view>
