<ion-view view-title="WaveKit">


<div class="bar bar-subheader bar-stable">
  <label class="title subheaderfontandsize">What is your Stage?</label>
</div>



  <ion-content class="has-subheader" scroll="false">
  
      
      <div class="list">
        <button class="item button-full topicbuttons beachbutton" 
              ui-sref="tab.beachtopics">Beach
        </button>

        <button class="item button-full topicbuttons waterbutton" 
              ui-sref="tab.watertopics">Water
        </button>

        <button class="item button-full topicbuttons wavebutton" 
              ui-sref="tab.wavetopics">Wave
        </button>

      </div >

  </ion-content>
</ion-view>
