<ion-view view-title="Summary">



<ion-nav-buttons side="secondary">
    <button
      class="button button-icon ion-gear-a"
      ui-sref="tab.settings">
    </button>
</ion-nav-buttons>


  <ion-content>

    <div class="list">
      <!-- <button class="item item-avatar button-full chatbuttons" style="color:black;"
           ng-click="setChatRoomName('Nishan Bose')"
           ui-sref="tab.chatroom"><img src="../img/mike.png">Nishan Bose
      </button> -->

<!--
      <button class="item button-full chatbuttons beachbuttontwo"
           ng-click="setChatRoomName('Younghoon Lee')"
           ui-sref="tab.chatroom">Younghoon Lee
      </button>

      <button class="item button-full chatbuttons beachbuttonthree"
           ng-click="setChatRoomName('Jason Lam')"
           ui-sref="tab.chatroom">Jason Lam
      </button>

      <button class="item button-full chatbuttons beachbuttonfour"
           ng-click="setChatRoomName('Hsin Ying Wu')"
           ui-sref="tab.chatroom">Hsin Ying Wu
      </button>

      <button class="item button-full chatbuttons waterbuttonone"
           ng-click="setChatRoomName('Dune Nguyen')"
           ui-sref="tab.chatroom">Dune Nguyen
      </button>

      <button class="item button-full chatbuttons waterbuttontwo"
           ng-click="setChatRoomName('Kamya Sarma')"
           ui-sref="tab.chatroom">Kamya Sarma
      </button> -->

      <a class="item item-avatar" href="#" ng-click="setChatRoomName('Nishan Bose')"
      ui-sref="tab.chatroom"><img src="./img/nishan.jpg"><h2>Nishan Bose</h2><p>Invitation Sent.</p></a>
      <!-- <a class="item item-avatar" href="#" ng-click="setChatRoomName('Erik Hofer')"
      ui-sref="tab.chatroom"><img src="../img/erik.jpg"><h2>Erik Hofer</h2><p>Invitation Sent.</p></a>
      <a class="item item-avatar" href="#" ng-click="setChatRoomName('Mandi Gonzalez')"
      ui-sref="tab.chatroom"><img src="../img/mandi.jpg"><h2>Mandi Gonzalez</h2><p>Bye</p></a>
      <a class="item item-avatar" href="#" ng-click="setChatRoomName('Hsin Ying Wu')"
      ui-sref="tab.chatroom"><img src="../img/hsin.jpg"><h2>Hsin Ying Wu</h2><p>Hey! How are you?</p></a>
      <a class="item item-avatar" href="#" ng-click="setChatRoomName('Dune Nguyen')"
      ui-sref="tab.chatroom"><img src="../img/dune.jpg"><h2>Dune Nguyen</h2><p>See you then!</p></a>
      <a class="item item-avatar" href="#" ng-click="setChatRoomName('Manu Gupta')"
      ui-sref="tab.chatroom"><img src="../img/manu.jpg"><h2>Manu Gupta</h2><p>Invitation Sent.</p></a>
      <a class="item item-avatar" href="#" ng-click="setChatRoomName('Sang Eun Park')"
      ui-sref="tab.chatroom"><img src="../img/sang.jpg"><h2>Sang Eun Park</h2><p>Invitation Sent.</p></a> -->

    </div >



  </ion-content>
</ion-view>
